@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .interest-card-container {
        @apply container flex flex-wrap flex-col justify-center items-center w-7/12 my-5 lg:flex-row lg:w-full lg:px-48 lg:mb-24;
    }
    .interest-card-header {
        @apply text-white text-base text-center lg:text-xl lg:text-left mb-2;
    }
    .interest-card-icon {
        @apply w-[50px] h-[50px] mb-2 lg:w-[100px] lg:h-[100px] lg:mx-24;
    }
    .skill-icon {
        @apply w-[45px] h-[45px] mx-3 my-1 lg:w-[100px] lg:h-[100px] lg:m-5;
    }
    .exp-card {
        @apply md:w-3/4 lg:w-full flex flex-col bg-black p-8 my-2;
    }
}

.morph {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: 50% 50%;
}
  
.morph.left{
    /* transform: scale(1) translate(-40%,50%) */
    animation: move1 60s ease-in-out infinite;
}
  
.morph.right{
    animation: move2 120s ease-in-out infinite;
}

:root {
    --firstColor: #1E3F66;
    --secondColor: #2E5984;
    --thirdColor: #528AAE;
    --fourthColor: #73A5C6;
    --dropShadowColor: rgba(0, 0, 0, .2);
}
  
@keyframes move1 {
    0%   { transform: scale(1)   translate(-50%, -50%) rotate(0); fill: var(--firstColor); filter: drop-shadow( 20px 14px 10px var(--dropShadowColor)); }
    25%  { transform: scale(0.8) translate(5rem, 10rem) rotate(55deg); fill: var(--secondColor); filter: drop-shadow( 14px 14px 6px var(--dropShadowColor)); }
    50%  { transform: scale(0.6) translate(75%, 75%) rotate(180deg); fill: var(--thirdColor); filter: drop-shadow( -16px -16px 16px var(--dropShadowColor)); }
    75%  { transform: scale(0.8) translate(-5rem, -10rem) rotate(55deg); fill: var(--fourthColor); filter: drop-shadow( 14px 14px 6px var(--dropShadowColor)); }
    100% { transform: scale(1)   translate(-50%, -50%) rotate(0); fill: var(--firstColor); filter: drop-shadow( 20px 14px 10px var(--dropShadowColor)); }
}

@keyframes move2 {
    0%   { transform: scale(0.5)   translate(60%, -50%) rotate(90deg); fill: #885FFF;  filter: drop-shadow( 20px 14px 10px var(--dropShadowColor)); }
    25%  { transform: scale(1) translate(66%, 0%) rotate(180deg); fill: #5215FC; filter: drop-shadow( 14px 14px 6px var(--dropShadowColor)); }
    50%  { transform: scale(1.5) translate(-40%,50%) rotate(270deg); fill: #410ED3; filter: drop-shadow( -16px -16px 16px var(--dropShadowColor)); }
    75%  { transform: scale(1) translate(66%, 0%) rotate(180deg); fill: #280886; filter: drop-shadow( 14px 14px 6px var(--dropShadowColor)); }
    100% { transform: scale(0.5)   translate(60%, -50%) rotate(90deg); fill: #885FFF; filter: drop-shadow( 20px 14px 10px var(--dropShadowColor)); }
}
